@font-face {
    font-family: 'mono_pro';
    src: url('../font/mono_pro.otf') format('opentype') 
}

#u1173{
    background-color:transparent;
}
#u1168{
    display:block;
}
@media (min-width: 1251px), print{
    #u286-4{
        border-width:0px;
        border-color:transparent;
        background-color:transparent;
        line-height:20px;
    }
    #u290-4{
        background-color:transparent;
        line-height:20px;
    }
    #u286-4:hover p,#u286-4:hover h2,#u286-4:hover span,#u290-4:hover p,#u290-4:hover h2,#u290-4:hover span{
        text-decoration:underline;
    }
}
@media (min-width: 1001px) and (max-width: 1250px){
    #u286-4{
        border-width:0px;
        border-color:transparent;
        background-color:transparent;
        line-height:20px;
    }
    #u290-4{
        background-color:transparent;
        line-height:20px;
    }
    #u286-4:hover p,#u286-4:hover h2,#u286-4:hover span,#u290-4:hover p,#u290-4:hover h2,#u290-4:hover span{
        text-decoration:underline;
    }
}
@media (min-width: 901px) and (max-width: 1000px){
    #u286-4{
        border-width:0px;
        border-color:transparent;
        background-color:transparent;
        line-height:20px;
    }
    #u290-4{
        background-color:transparent;
        line-height:20px;
    }
    #u286-4:hover p,#u286-4:hover h2,#u286-4:hover span,#u290-4:hover p,#u290-4:hover h2,#u290-4:hover span{
        text-decoration:underline;
    }
}
@media (min-width: 601px) and (max-width: 900px){
    #u6535{
        border-width:0px;
        background-color:transparent;
    }
    #u6653{
        background-color:#000000;
    }
    #u6658{
        background-color:#000000;
    }
    #u6538{
        border-width:0px;
        background-color:#FFFFFF;
        background-color:rgba(255,255,255,0.6);
        -pie-background:rgba(255,255,255,0.6);
    }
    #u6540{
        border-width:0px;
        background-color:#FFFFFF;
    }
    #u6533-4{
        background-color:transparent;
        text-align:center;
        font-size:42px;
        line-height:59px;
        font-family:Helvetica, Helvetica Neue, Arial, sans-serif;
    }
    #u6605-4{
        border-width:0px;
        border-color:transparent;
        background-color:transparent;
        text-align:center;
        font-size:20px;
        line-height:24px;
        font-family:mono_pro, sans-serif;
    }
    #u6606-4{
        background-color:transparent;
        text-align:center;
        font-size:20px;
        line-height:24px;
        font-family: mono_pro, sans-serif;
    }
    #u6605-4:hover p,#u6605-4:hover h2,#u6605-4:hover span,#u6606-4:hover p,#u6606-4:hover h2,#u6606-4:hover span{
        text-decoration:underline;
    }
    .PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton{
        cursor:pointer;
    }
}
@media (min-width: 501px) and (max-width: 600px){
    #u6535{
        border-width:0px;
        background-color:transparent;
    }
    #u6653{
        background-color:#000000;
    }
    #u6658{
        background-color:#000000;
    }
    #u6538{
        border-width:0px;
        background-color:#FFFFFF;
        background-color:rgba(255,255,255,0.6);
        -pie-background:rgba(255,255,255,0.6);
    }
    #u6540{
        border-width:0px;
        background-color:#FFFFFF;
    }
    #u6533-4{
        background-color:transparent;
        text-align:center;
        font-size:42px;
        line-height:59px;
        font-family:Helvetica, Helvetica Neue, Arial, sans-serif;
    }
    #u6605-4{
        border-width:0px;
        border-color:transparent;
        background-color:transparent;
        text-align:center;
        font-size:20px;
        line-height:24px;
        font-family:mono_pro, sans-serif;
    }
    #u6606-4{
        background-color:transparent;
        text-align:center;
        font-size:20px;
        line-height:24px;
        font-family:mono_pro, sans-serif;
    }
    #u6605-4:hover p,#u6605-4:hover h2,#u6605-4:hover span,#u6606-4:hover p,#u6606-4:hover h2,#u6606-4:hover span{
        text-decoration:underline;
    }
    .PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton{
        cursor:pointer;
    }
}
@media (max-width: 500px){
    #u6535{
        border-width:0px;
        background-color:transparent;
    }
    #u6653{
        background-color:#000000;
    }
    #u6658{
        background-color:#000000;
    }
    #u6538{
        border-width:0px;
        background-color:#FFFFFF;
        background-color:rgba(255,255,255,0.6);
        -pie-background:rgba(255,255,255,0.6);
    }
    #u6540{
        border-width:0px;
        background-color:#FFFFFF;
    }
    #u6533-4{
        background-color:transparent;
        text-align:center;
        font-size:42px;
        line-height:59px;
        font-family:Helvetica, Helvetica Neue, Arial, sans-serif;
    }
    #u6605-4{
        border-width:0px;
        border-color:transparent;
        background-color:transparent;
        text-align:center;
        font-size:19px;
        line-height:23px;
        font-family:mono_pro, sans-serif;
    }
    #u6606-4{
        background-color:transparent;
        text-align:center;
        font-size:20px;
        line-height:24px;
        font-family:mono_pro, sans-serif;
    }
    #u6605-4:hover p,#u6605-4:hover h2,#u6605-4:hover span,#u6606-4:hover p,#u6606-4:hover h2,#u6606-4:hover span{
        text-decoration:underline;
    }
    .PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton{
        cursor:pointer;
    }
}
